/* raleway font */
 body{
    font-family: 'Raleway', sans-serif;;
 }
/* header styles */
.header{
    max-width: 1440px;
    margin: 0%;
    background-image: url('../B12A01-landing-launchpad/Assets/Hero-bg.png');
    padding: 20px 150px 350px;
}
/* nav styles */
nav{
    
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 50px 1190px 597px 150px; */
}
nav li{
    text-decoration: none;
    list-style: none;
}
nav .title{
    color: #4E47FF;
}
/* banner */

.banner-title{
    font-size: 65px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 37px;
    font-weight: bold;
}
/* shared styles */
.align-center{
    text-align: center;
}
.btn-primary{
    background-color: #4E47FF;
    color: #FFFFFF;
    border-style: none;
    border-radius: 10px;
    padding: 12px 36px;
}
/* action styles */
.action{
    display: flex;
    margin: 116px 140px;
    justify-content: space-between;
    align-items: center;
    gap: 47px;
}
.action-title{
    font-size: 42px;
    font-weight: bold;
    padding: 62px 220px 23px 0px; 
}
.action-subtitle{
    font-size: 24px;
    color: #2e2d37;
}
.action-button{
    margin-top: 23px;
}
.img{
    border-radius: 45px;
}
/* productive section styles */