/* raleway font */
 body{
    font-family: 'Raleway', sans-serif;;
 }
/* header styles */
.header{
    max-width: 1440px;
    margin: 0%;
    background-image: url('../B12A01-landing-launchpad/Assets/Hero-bg.png');
    padding: 20px 150px 350px;
}
/* nav styles */
nav{
    
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 50px 1190px 597px 150px; */
}
nav li{
    text-decoration: none;
    list-style: none;
}
nav .title{
    color: #4E47FF;
}
/* banner */

.banner-title{
    font-size: 65px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 37px;
    font-weight: bold;
}
/* shared styles */
.align-center{
    text-align: center;
}
.btn-primary{
    background-color: #4E47FF;
    color: #FFFFFF;
    border-style: none;
    border-radius: 10px;
    padding: 12px 36px;
}
.btn-primary:hover{
    text-decoration: underline;
    cursor: pointer;
    background-color: #5b2d93d8;

}
/* action styles */
.action{
    display: flex;
    margin: 116px 140px;
    justify-content: space-between;
    align-items: center;
    gap: 47px;
}
.action-title{
    font-size: 42px;
    font-weight: bold;
    padding: 62px 220px 23px 0px; 
}
.action-subtitle{
    font-size: 24px;
    color: #25243273;
}
.action-button{
    margin-top: 23px;
}
.img{
    border-radius: 45px;
}
/* productive section styles */
.productive-section{
    background-color: #4d47ff30;
    max-width: 1255px;
    margin: 150px;
    border-radius: 24px;
}
.productive-section-title{
    font-size: 38px;
    font-weight: bold;
    padding: 50px;
}
.productive-rating{
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.number-title{
    font-size: 80px;
    font-weight: bold;
    padding: 20px 20px 15px;
    color: #4E47FF;
}
.number-sub-title{
    color: rgba(44, 43, 43, 0.555);
    margin-bottom: 50px;
}

/* feedback styles */
.feedback-section{
    max-width: 1700px;
}
.feedback-title{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 50px;
}
.feedback{
    display: flex;
    justify-content: space-around;
    margin: 50px 150px;
     gap: 24px;
    
}
.fedback-box{
    background-color: #4d47ff30;
    border-radius: 14px;
    padding: 24px;
     box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);;
}
.review{
    display: flex;
    align-items: center;
    gap: 6px;
    color: rgba(43, 42, 42, 0.555);
}
.feed-sub-title{
    color: rgba(30, 30, 30, 0.715);
}

/* get in touch section */

 .get-in-touch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 92px 130px;
    padding: 0px 71px;
 }
.touch-title{
 font-size: 90px;
 font-weight: bold;
}
form{
    display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f8f8ff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  max-width: 500px;
}
/* Footer */
footer{
    margin: 104px 350px;
}
.logo{
    font-size: 80px;
    font-weight: bolder;
    color: #4E47FF;
}
.logo-links{
    margin-top: 20px;
   
}
.logo-links a{
     margin-right: 20px;
     text-decoration: none;
     color: inherit;
}
.logo-links a:hover{
    text-decoration: underline;
}